main .adotar-container{
     display:flex;
     justify-content:space-around;
     align-items:center;
     flex-direction:row;
     flex-wrap:wrap;
     flex:1;
     margin: 10px;
}

.search-adote{
     display: flex;
     justify-content: center;
     align-items:center;
     margin-top:20px;
     margin-bottom:20px;
}

.search-adote a {
     padding: 20px;
     text-decoration: none;
     font-size: 20px;
     font-family: 'Nunito';
     color:#8e44ad;
     font-weight:bold;
}

.card img {
     height: 150px;
     width: 190px;
     padding-left:50px;
     padding-top: 10px;
}

.card-text{
     font-family: 'Nunito';
     text-align:justify;
     font-size:15px;
     padding-top: 10px;
}