main .donations{
    height:600px;
    width:944px;
    background-color:#FF7F50 ;
    margin-bottom: 40px;
    margin-top: 30px;
    border-radius: 5px;
}

.text.donations{
    display:flex;
    justify-content: center;
    align-items:center;


}

.title-helpmoney{
    text-align: center;
    font-size: 15px;
    font-family: 'Nunito';

}

main{
    display:flex;
    justify-content: center;
    align-items:center;
}

main .img-qqcode{
    display:flex;
    justify-content: space-between;
    align-items:space-between;
}
