.form-login{
    display:display;
    justify-content:center;
    align-items:center;
    background-color:#8E44AD ;
    margin:0 auto;
    max-width:650px;
    height:360px;
    margin-top: 80px;
    margin-bottom: 40px;
    border-radius:5px;
    flex-wrap: wrap;
}

.text-login{
    text-align:center;
    font-size: 18px;
    font-family: 'Nunito';
    font-weight: bold;
    padding-top: 20px;

}

label{
    font-family: 'Nunito';
    font-weight:bold;
    padding: 20px;
    margin:10px;
    font-size:14px;

}

form input[type=text],form input[type=password]{
    padding: 5px;
    font-family: "Nunito";
}

form input {
    width:60%;
    margin:10px;
    border-radius:5px;
    border:none;
    outline:none;
}

form input [type=checkboc]{
    margin:0;
    padding:0;
}

.btn-signup{
    display:flex;
    justify-content: center;
    align-items:center;
    background-color:#75D6B3;
    color:#fff;
    font-family: 'Nunito';
    font-weight: bold;
    padding:5px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 40px;
    margin: 0 auto;
    height:32px;
    width:234px;
}

.cadastro{
    text-decoration: none;
    padding-left: 20px;
    font-family: "Nunito";
    font-size: 14px;
    font-weight: bold;
    color:black;
    padding-top: 20px;
    display: block;
}

.forgoutpass{
    text-decoration: none;
    padding-left: 20px;
    font-family: "Nunito";
    font-size: 14px;
    font-weight: bold;
    color:black;
    display:block;
}

.footer-page{
    margin-bottom:-10px;
    margin-top:185px;
    /* margin-top:50px; */
}