

nav li a {
     color:#ED4C67;
}
nav{
     background-color:white;
     max-width: 1140px;
     padding-left: 10px;
}

nav li a.active{
     background-color:#ED4C67;
     color:white;
}
nav li a.active-login{
     background-color:#16a085;
     color:white;
}
nav li a.active-cadastrar{
     background-color:#8e44ad;
     color:white;
}

nav .img-logo{
     width:130px;
     height:50px;
}

.hover-default:hover{
     background-color:white;
     color:#ED4C67;
}
/* Style Banner */
* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
img {vertical-align: middle;}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  margin-top: 10px;
}


.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}


.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}


.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.9s ease;
}

.active {
  background-color: #6e6e6e;
}


.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

h2{
     color:#8e44ad;
     font-size: 36px;
     font-weight: bold;
     text-align: center;

}


.card-msg{
     display: flex;
     justify-content: center;
     align-items: center;

     
}

.card-area img{
     width:110px;
     height:99px;
     
}

.card-area{
     flex: 1;
     margin-left: 53px;
     margin-right:53px;
     margin-bottom: 20px;
     padding: 10px;
     background-color:#89E5CF;
     text-align: center;
     margin-top: 10px;
     border-radius: 5px;
     font-size: 14px;
     font-family:'Nunito';
     font-weight: bold;
     color:#762abd;
}


